
<form clrStepper [formGroup]="form" (ngSubmit)="submit()">
  <clr-stepper-panel formGroupName="name">
    <clr-step-title>Coordonnées d' utilisateur</clr-step-title>
    <clr-step-description>.</clr-step-description>
    <clr-step-content *clrIfExpanded>
      <clr-input-container>
        <label>Nom:</label>
        <input clrInput formControlName="firstName" />
        <clr-control-error *clrIfError="'required'" >le champs est obligatoire</clr-control-error>
        <clr-control-error *clrIfError="'pattern'" >le champs est  textuelle</clr-control-error>
        <clr-control-error *clrIfError="'minlength'" >le champs est min 2 caracteres </clr-control-error>

      </clr-input-container>
      <clr-input-container>
        <label>Prenom:</label>
        <input clrInput formControlName="lastName" />
        <clr-control-error *clrIfError="'required'" >le champs est obligatoire</clr-control-error>
        <clr-control-error *clrIfError="'pattern'" >le champs est  textuelle</clr-control-error>
        <clr-control-error *clrIfError="'minlength'" >le champs est min 2 caracteres </clr-control-error>
      </clr-input-container>
      <clr-select-container>
        <label>Role:</label>
        <select clrSelect name="options" formControlName="role" >
          <option value="admin">Admin</option>
          <option value="Superviseur Immobilier">Superviseur Immobilier</option>
          <option value="Coordinateur Immobilier">Coordinateur Immobilier</option>
        </select>
      </clr-select-container>
      
      <button clrStepButton="next">suivant</button>
    </clr-step-content>
  </clr-stepper-panel>

  <clr-stepper-panel formGroupName="contact">
    <clr-step-title>Contact Information</clr-step-title>
    <clr-step-content *clrIfExpanded>
      <clr-input-container>
        <label>Email:</label>
        <input clrInput formControlName="email" />
        <clr-control-error *clrIfError="'required'" >le champs est obligatoire</clr-control-error>
        <clr-control-error *clrIfError="'email'" > numéro de télèphone est invalide</clr-control-error>
      </clr-input-container>

      <clr-input-container>
        <label>Phone:</label>
        <input clrInput formControlName="phone" />
        <clr-control-error *clrIfError="'required'" >le champs est obligatoire</clr-control-error>
        <clr-control-error *clrIfError="'pattern'" > numéro de télèphone est invalide</clr-control-error>
      </clr-input-container>

      <button clrStepButton="next">suivant</button>
    </clr-step-content>
  </clr-stepper-panel>

  <clr-stepper-panel formGroupName="password">
    <clr-step-title>Password:</clr-step-title>
    <clr-step-content *clrIfExpanded>
      <clr-password-container>
        <label>Password:</label>
        <input clrPassword autocomplete="current-password" formControlName="password" />
      </clr-password-container>

      <clr-password-container>
        <label>Confirm Password:</label>
        <input clrPassword autocomplete="current-password" formControlName="confirm" />
      </clr-password-container>
      <button clrStepButton="next">suivant</button>
    </clr-step-content>
  </clr-stepper-panel>
  <clr-stepper-panel formGroupName="submit">
    <clr-step-title>Sumbit</clr-step-title>
<!-- title-->

    <clr-step-content *clrIfExpanded>
   

      <table class="table">
        <thead>
          <tr>
            <th class="left">Nom</th>
            <th>Prenom</th>
            <th>Role</th>
            <th>Email</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left">{{form.value.name.firstName}}</td>
            <td>{{form.value.name.lastName}}</td>
            <td>{{form.value.name.role}}</td>
            <td>{{form.value.contact.email}}</td>
            <td>{{form.value.contact.phone}}</td>
          </tr>
          
        
        </tbody>
      </table>
      <button clrStepButton="submit">submit</button>

       <!-- container-->
    </clr-step-content>
  </clr-stepper-panel>
</form>
